<md-list ng-cloak>
<md-subheader class="md-no-sticky" id="teams-title">Mijn Teams</md-subheader>

<md-list-item ng-repeat="team in teams" ng-class-odd="'odd'" ng-class-even="'even'">
    <div md-ink-ripple ng-click="edit('{{team.uuid}}')" style="width: 100%;"  >
        <table width="100%">
            <tr >
                <td>{{ team.teamname }}</td>
            </tr>
        </table>
    </div>
</md-list-item>
</md-list>

<br>
<br>

<md-button class="md-raised md-primary" ng-click="newTeam()"  >
    Team toevoegen
</md-button>


